---
layout: page
title: "About"
description: "Hey, this is Hux."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 怀念 </option>
    <option value="1"> 梦想 </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
      怀念和你们在一起的日子
    </blockquote>
研究生的时光过的飞快，转眼我们就在天南海北了。翻过好多的歌曲，写了些小清新的歌，在北邮的科会唱过，夜色下的酒吧演出过。
<br>
但是，总感觉我们在一起的日子还是太过匆匆。我们一起定下的约定还能实现吗？
<br>
愿，等我们老了，XIER和我还能拿起吉他，老胡还能拿起她的鼓槌，佳暮还能扛起他的BASS，老大还能唱抖音。
愿，大家能在以后的日子常联系。
愿，你们能过得好！

<!--网易云音乐flash插件-->
<embed src="//music.163.com/style/swf/widget.swf?sid=394729&type=2&auto=1&width=320&height=66" width="340" height="86"  allowNetworking="all">《翅膀》指人儿</embed>
<embed src="//music.163.com/style/swf/widget.swf?sid=387499&type=2&auto=1&width=320&height=66" width="340" height="86"  allowNetworking="all">《Rockable》熊宝贝</embed>
<embed src="//music.163.com/style/swf/widget.swf?sid=362404&type=2&auto=1&width=320&height=66" width="340" height="86"  allowNetworking="all">《时光》咖啡因</embed>
<embed src="//music.163.com/style/swf/widget.swf?sid=26348053&type=2&auto=1&width=320&height=66" width="340" height="86"  allowNetworking="all">《躺在你的衣柜》陈绮贞</embed>
<embed src="//music.163.com/style/swf/widget.swf?sid=5229977&type=2&auto=1&width=320&height=66" width="340" height="86"  allowNetworking="all">《17》熊宝贝</embed>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        I have a dream list!
    </blockquote>

    起床上班，下班睡觉，每天的日子很重复。但我并不觉的枯燥，因为我有一个愿望单。
    <br>
    给心爱的她一个家。
    给父母一个安逸的晚年。
    给朋友一个承诺，我们退休的时候，还能一起玩音乐。
    给自己一个梦想，不管什么时候，都要积极向上的活着。

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
